.O_Menubar {
  background: white;
  box-sizing: border-box;
  font-family: 'Rubik';
  font-weight: bold;
  padding: 35px 0 105px;

  a {
    color: #02B1B3;
    padding-right: 28px;
    font-size: 16px;


    &:hover {
      text-decoration: underline;
    }
  }
}
