.O_Menubar {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Rubik';
  background: white;
  font-weight: bold;
  top: 0;
  margin: 0;
  z-index: 1000;
  padding: 35px 150px;
  position: fixed;
  width: 100%;

  a {
    color: #02B1B3;
    padding-right: 28px;
    font-size: 16px;


    &:hover {
      text-decoration: underline;
    }
  }

  .search-form {
    display: flex;
    padding-left: 55px;
  }
}
