.A_Button {
  display: inline-block;
  padding: 20px 50px;
  background: #02B1B3;
  border-radius: 22px;
  text-align: center;

  &:hover {
    background: #6ECACB;
  }

  a {
    color: white;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      color: white;
    }
  }
}
