.A_Main-Button {
  display: inline-block;
  width: 200px;
  background: #02B1B3;
  text-align: center;
  border: 0 none;
  border-radius: 22px;
  padding: 20px 10px;

  &:hover {
    background: #46C1C2;
  }

  a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;

    &:hover {
      color: #fff;
    }
  }
}
