body {
  overflow-x: hidden;
  margin: 0 150px;

  * {
    font-family: 'Rubik', sans-serif;
  }

  a {
    text-decoration: none;
    color: #1A1919;

    &:hover {
      color: #02B1B3;
    }

  }

  h1 {
    color: #1A1919;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 20px;
    line-height: 130%;
  }

  .catalog-page {
    display: flex;
    flex-direction: row;
  }


}
