.ingridient-list {

  .ingridient-card {
    margin: 63px 0;
    width: 75%;
  }

  h3 {
    font-weight: bold;
  }

  p {
    margin: 20px 0 28px;
  }

  a {
    color: #02B1B3;
    text-decoration: underline;
  }
}

.ingridient-page {
  width: 75%;

  h1 {
    margin-bottom: 35px;
  }
}
