.ingridient-list {
  margin-top: 70px;

  .ingridient-card {
    margin-bottom: 53px;
    width: 75%;
  }

  a {
    color: #02B1B3;
    text-decoration: underline;
  }
}

.ingridient-page {
  width: 75%;

  h1 {
    margin-bottom: 35px;
  }
}
