article {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0;
  font-size: 1.11vw;

  .O_Menubar {
    border-bottom: 1px solid black;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.25em;
  }

  p {
    font-size: 1.125em;
  }

  .welcome {
    width: 1440px;
    background-image: url(background.png);
    background-size: contain;
    background-position: bottom;
    border-bottom: 0.7px solid black;
    margin-top: 100px;

    img {
      position: absolute;
    }

    img:first-of-type {
      width: 14.6em;
      height: 9.5em;
      transform: rotate(-3deg);
      margin-top: 31.75em;
      margin-left: 68.125em;
    }

    img:nth-of-type(2) {
      width: 9.37em;
      height: 14.81em;
      transform: rotate(33deg);
      margin-top: 5.25em;
      margin-left: 71.87em;
    }

    img:nth-of-type(3) {
      width: 12.87em;
      height: 16.18em;
      transform: rotate(3.15deg);
      margin-top: 19.12em;
      margin-left: 51.2em;
    }

    img:nth-of-type(4) {
      width: 17em;
      height: 7em;
      transform: rotate(-18deg);
      margin-top: 4em;
      margin-left: 4em;
      z-index: 10;
    }

    .welcome-text {
      display:inline-block;
      border: 1px solid black;
      background-color: white;
      width: 28.2em;
      margin: 6.66em 10.15em;
      padding: 4.3em 4.65em;


      h1 {
        font-weight: bold;
      }

      h3 {
        padding-top: 2.18em;
        font-weight: normal;
      }

      .A_Main-Button {
        margin-top: 3.31em;
      }
    }
  }

  .about-app {
    margin-left: 9.37em;
    margin-top: 6.56em;

    h3 {
      width: 37.5em;
    }

    img {
      position: absolute;
      width: 27.44em;
      height: 20.69em;
      margin-left: 700px;
      margin-top: -157px;
    }
  }

  .functions {
    background-color: #F1F9F8;
    padding: 8.75em 9.37em;

    h2 {
      margin-bottom: 2.19em;
      width: 31.56em;
    }
  }

  .veg-friend {
    width: 1440px;
    height: auto;
    margin-top: 8.75em;
    background-image: url(background.png);
    background-size: 84%;
    background-position: top;


    .library {
      display:inline-block;
      margin-top: 8.75em;
      margin-left: 9em;
      width: 25.2em;
      height: 12.6em;
      background-color: white;
      border: 1px solid black;
      padding: 4.2em 4em;

      h2 {
        width: 20.94em;
        padding-bottom: 0.7em;
      }

      h3 {
        width: 20.31em;
      }
    }

    .brand-point {
      position: relative;
      text-align: center;
      background: #B4E95D;
      width: 29.55em;
      padding: 4.37em 0 5.2em 0;
      z-index: 111;
      margin-left: 51.5em;
      margin-top: -7.15em;

      h2 {
        color: white;
      }

      img {
        width: 18.25em;
        height: 8.62em;
        padding-bottom: 1.5em;
      }
    }

    .products-point {
      position: relative;
      text-align: center;
      background: #98E3FF;
      width: 29.7em;
      padding: 3.8em 0 6.5em 0;
      margin-top: -8.8em;
      margin-left: 14.5em;
      border-radius: 0px 0px 250px 250px;

      h2 {
        color: white;
        padding-bottom: 1em;
      }

      img {
        width: 20.62em;
        height: 10.69em;
      }
    }

    .ingridients-point {
      position: relative;
      text-align: center;
      background: #FED454;
      width: 31.2em;
      padding: 4.8em 0;
      z-index: 111;
      margin-left: 49.7em;
      margin-top: -10.7em;
      border-radius: 250px 250px 0px 0px ;

      h2 {
        color: white;
      }

      img {
        width: 12.56em;
        height: 17.31em;
        padding-bottom: 1.5em;
      }
    }

    .eat-point {
      display:inline-block;
      position: relative;
      text-align: center;
      margin: -14.1em 0 8.75em 9em;
      width: 25.2em;
      background-color: #02B1B3;
      padding: 4em 4.1em 3.5em;

      h2 {
        color: white;
        padding-bottom: 1em;
      }

      img {
        width: 25.12em;
        height: 10.62em;
      }
    }
  }
}
