.catalog {
  display: flex;
  flex-direction: column;
  width: 350px;
  position: fixed;


  .category-name {
    font-size: 18px;
    margin-bottom: 23px;
    margin-left: 14px;

    &:first-of-type {
      margin-top: 35px;
    }
  }
}

.product-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 370px;
  .tabs {
    position: relative;
    min-height: 200px;
    clear: both;
    margin: 25px 0;

    .tab {
      float: left;

      label {
        background: #eee;
        padding: 10px;
        border: 1px solid #ccc;
        margin-left: -1px;
        position: relative;
        left: 1px;
      }

      [type=radio] {
        display: none;
      }

      .content {
        position: absolute;
        top: 28px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
      }
      [type=radio]:checked ~ label {
        background: white;
        border-bottom: 1px solid white;
        z-index: 2;
      }
      [type=radio]:checked ~ label ~ .content {
        z-index: 1;
      }
    }
  }

  .product-card {
    width: 212px;
    margin-bottom: 70px;
    margin-right: 70px;

    &:nth-child(3n){
      margin-right: 0px;
    }

    h3 {
      font-weight: normal;
    }

    img {
      width: 212px;
      height: 202px;
      margin-bottom: 27px;
    }
  }
}

.product-page {
  display: flex;
  flex-direction: row;

  .about-product {
    vertical-align: top;

    h1 {
      margin-bottom: 23px;
      line-height: 130%;
    }

    h3 {
      width: 346px;
      text-align: center;
      margin-top: 53px;
      padding: 20px 40px;
      border-radius: 11px;
    }

    .vegan {
      background-color: #98E3FF;
    }

    .vegetarian {
      background-color: #B4E95D;
    }

    .non-vegetarian {
      background-color: #FED454;
    }

    p {
      margin-top: 53px;
    }

    strong {
      font-weight: bold;
    }

    .no-ingridients {
      color: #02B1B3;
    }

    a {

      img {
        width: 23px;
        margin-top: 23px;
      }
    }
  }

  .product-image {
    margin-left:  129px;
    position: relative;

    img {
      height: auto;
      width: 511px;
    }
  }

  hr {
    margin-top: 70px;
    position: absolute;
    width: 79.5%;
  }
}
