.reviews {
  margin-top: 140px;
  padding-bottom: 105px;

  .adding-review {
    display: flex;
    flex-direction: row;
    align-items: center;

    .star-rating {
      width: 500px;
      display: inline-block;
      margin-left: 23px;

      img {
        width: 32px;
      }
    }

    .A_Button {
      margin-left: 300px;
    }
  }

  .review-list {
    padding-top: 53px;

    .review {
      padding-top: 35px;
      width: 75%;

      &:first-of-type {
        padding-top: 0;
      }

      .star-rating {
        display: inline-block;
        margin-left: 16px;

        img {
          width: 23px;
        }
      }

      h3 {
        padding-bottom: 16px;
        font-weight: 600;
        display: inline-block;
      }
    }
  }

}

#star-rating {
  margin-top: 24px;
}
