article {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0;
  font-size: 1.11vw;
  margin: 0;

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.25em;
  }

  p {
    font-size: 1.125em;
  }

  .welcome {
    width: 100%;
    background-image: url(background.png);
    background-size: contain;
    background-position: bottom;
    border-bottom: 0.7px solid black;
    margin-top: 95px;

    img {
      position: absolute;
    }

    img:first-of-type {
      width: 14.6em;
      height: 9.5em;
      transform: rotate(-3deg);
      margin: 31.75em 0 0 68.125em;
    }

    img:nth-of-type(2) {
      width: 9.37em;
      height: 14.81em;
      transform: rotate(33deg);
      margin: 5.25em 0 0 71.87em;
    }

    img:nth-of-type(3) {
      width: 12.87em;
      height: 16.18em;
      transform: rotate(3.15deg);
      margin: 19.12em 0 0 51.2em;
    }

    img:nth-of-type(4) {
      width: 17em;
      height: 7em;
      transform: rotate(-18deg);
      margin: 4em 0 0 4em;
      z-index: 10;
    }

    .welcome-text {
      display:inline-block;
      border: 1px solid black;
      background-color: white;
      width: 28.2em;
      margin: 6.66em 10.15em;
      padding: 4.3em 4.65em;


      h1 {
        font-weight: bold;
      }

      h3 {
        padding-top: 2.18em;
        font-weight: normal;
      }

      .A_Main-Button {
        margin-top: 3.31em;
      }
    }
  }

  .about-app {
    margin: 8.75em 0 8.75em 9.37em;

    h3 {
      width: 29em;
    }

    img {
      position: absolute;
      width: 27.44em;
      height: 20.69em;
      margin: -9.81em 0 0 43.75em;
    }
  }

  .functions {
    background-color: #F1F9F8;
    padding: 8.75em 9.37em;

    h2 {
      margin-bottom: 0.8em;
      width: 15em;
    }

    h3 {
      width: 20em;
    }

    .many-profits {
      display: flex;
      flex-direction: row;
      align-items: center;

      .profit-list {
        margin-top: 4.37em;
        width: 33em;
        margin-right: 17em;

        .profit {
          display: flex;
          flex-direction: row;

          .bear {
            width: 3.125em;
            height: 3.56em;
          }

          .profit-text {
            margin-left: 2.1875em;

            h3 {
              font-weight: bold;
              margin-bottom: 0.8em;
              color: #727272;
            }
          }
        }

        .profit:not(:last-of-type) {
          margin-bottom: 3.31em;
        }
      }

      .mockups {

        #slideshow {
          width: 16.62em;
          height: 34em;
          overflow: hidden;
          margin-left: 1.2em;
          border-radius: 10%;

          .slide-wrapper {
            -webkit-animation: slide 18s ease infinite;
            width: 66.48em;

            .slide {
              float: left;
              width: 16.62em;
              height: 34em;
              background-size: 100%;
              background-position: center;
              background-repeat: no-repeat;
            }

            .slide:nth-child(1) {
              background-image: url(screen1.png);
            }

            .slide:nth-child(2) {
              background-image: url(screen2.png);
            }

            .slide:nth-child(3) {
              background-image: url(screen4.png);
            }

            .slide:nth-child(4) {
              background-image: url(screen3.png);
            }

            @-webkit-keyframes slide {
              20% {margin-left: 0em;}
              30% {margin-left: -16.62em;}
              50% {margin-left: -16.62em;}
              60% {margin-left: -33.24em;}
              70% {margin-left: -33.24em;}
              80% {margin-left: -49.86em;}
              90% {margin-left: -49.86em;}
            }
          }
        }

        img {
          position: absolute;
          width: 19.125em;
          height: 37.31em;
          z-index: 2;
          margin-top: -1.5em;
        }
      }
    }
  }

  .veg-friend {
    width: 100%;
    height: auto;
    background-image: url(background.png);
    background-size: 84%;
    background-position: bottom;
    border-bottom: 0.5px solid black;


    .library {
      display:inline-block;
      margin: 8.75em 0 0 9em;
      width: 25.2em;
      height: 12.6em;
      background-color: white;
      border: 1px solid black;
      padding: 4.2em 4em;

      h2 {
        width: 20.94em;
        padding-bottom: 0.7em;
      }

      h3 {
        width: 20.31em;
      }
    }

    .brand-point {
      position: relative;
      text-align: center;
      background: #B4E95D;
      width: 29.55em;
      padding: 4.37em 0 5.2em 0;
      z-index: 111;
      margin: -7.15em 0 0 51.5em;

      h2 {
        color: white;
      }

      img {
        width: 18.25em;
        height: 8.62em;
        padding-bottom: 1.5em;
      }
    }

    .products-point {
      position: relative;
      text-align: center;
      background: #98E3FF;
      width: 29.7em;
      padding: 3.8em 0 6.5em 0;
      margin: -8.8em 0 0 14.5em;
      border-radius: 0px 0px 250px 250px;

      h2 {
        color: white;
        padding-bottom: 1em;
      }

      img {
        width: 20.62em;
        height: 10.69em;
      }
    }

    .ingridients-point {
      position: relative;
      text-align: center;
      background: #FED454;
      width: 31.2em;
      padding: 4.8em 0;
      z-index: 111;
      margin: -10.7em 0 0 49.7em;
      border-radius: 250px 250px 0px 0px ;

      h2 {
        color: white;
      }

      img {
        width: 12.56em;
        height: 17.31em;
        padding-bottom: 1.5em;
      }
    }

    .eat-point {
      display:inline-block;
      position: relative;
      text-align: center;
      margin: -14.1em 0 8.75em 9em;
      width: 25.2em;
      background-color: #02B1B3;
      padding: 4em 4.1em 3.5em;

      h2 {
        color: white;
        padding-bottom: 1em;
      }

      img {
        width: 25.12em;
        height: 10.62em;
      }
    }
  }

  .brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 8.75em 9.37em;

    .brand-text {
      h2 {
        margin-top: 3.6em;
        width: 11em;
      }

      h3 {
        margin-top: 1.25em;
        width: 25em;
      }

      .A_Main-Button {
        display: inline-block;
        width: 200px;
        background: #FFF;
        text-align: center;
        border: 2px solid black;
        border-radius: 22px;
        padding: 20px 15px;
        margin-top: 4.375em;

        &:hover {
          background: #000;

          a {
            color: #fff;
          }
        }

        a {
          color: #000;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    img {
      width: 38em;
      position: absolute;
      margin: 6em 0 0 35em;
    }
  }

  .interesting {
    width: 100%;
    background-image: url(background.png);
    background-size: 84%;
    background-position: top;

    .bread {
      width: 13.38em;
      height: 19.53em;
      position: absolute;
      margin: 14em 0 0 10em;
      transform: rotate(-30deg);
    }

    .chips {
      width: 16.5em;
      height: 18.5em;
      position: absolute;
      margin: 2em 0 0 28em;
      transform: rotate(30deg);
    }

    .interesting-text {
      display:inline-block;
      border: 1px solid black;
      background-color: white;
      width: auto;
      padding: 4.4em 5.05em;
      margin: 8.7em 0 8.7em 42.25em;

      h3 {
        margin-top: 1.3em;
        width: 20em;
      }

      .appstore {
        width: 9.96em;
        height: 3em;
        margin-top: 3em;
        position: relative;
      }
    }
  }

  .footer {
    background-color: #02B1B3;
    padding: 4.5em 0;
    text-align: center;

    h3 {
      font-weight: bold;
      color: white;
      padding-bottom: 1.6em;
    }

    a, a:hover {
    	text-decoration: none;
    }

    .socialbtns, .socialbtns ul, .socialbtns li {
      margin: 0;
      padding: 0 1em;
    }

    .socialbtns li {
        list-style: none outside none;
        display: inline-block;
    }

    .socialbtns .fa {
    	width: 40px;
      height: 28px;
    	color: #000;
    	background-color: #FFF;
    	border: 1px solid #000;
    	padding-top: 12px;
    	border-radius: 22px;
    	-moz-border-radius: 22px;
    	-webkit-border-radius: 22px;
    	-o-border-radius: 22px;
    }

    .socialbtns .fa:hover {
    	color: #FFF;
    	background-color: #000;
    	border: 1px solid #000;
    }
  }
}
